
/* PAGINA COMPRAS */

.titulo{


    font-family:  $fuente-principal;
    color: #24303c;
    text-transform: $transformacion-fuente;
    font-size: 40px;
    border: 4px solid $color-primario;
    border-radius: 15px;
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5%;
}

.compra{

width: 45%;
height: 70%;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
margin-bottom: 10%;
display: grid;
grid-template-columns: 25% 25% 25% ;

grid-template-rows: 65px 65px 65px 65px 65px;

grid-template-areas:"c1 c1 c2"
                    "c1 c1 c3"
                    "c1 c1 c3"
                    "c1 c1 c3"
                    "c4 c5 c5";
border: #b4c0cd solid 4px;
border-radius: 10px;
justify-content: space-evenly;

&__imagen{  
    grid-area: c1;
    width: 90%;
    height: 90%;
    margin: 5px;
    
    }  
    
    &__producto{
    
        grid-area: c2;
        margin-top: auto;
        margin-bottom: auto;
        font-family:  $fuente-principal;
        font-size: 22px;
        text-transform: $transformacion-fuente;
        color: rgb(9, 131, 21);
        justify-self: center;
        margin-bottom: 10px;
    
        }
    
    &__detalle{
    
    grid-area: c3;
        
    font-family: $fuente-principal;
    font-size: 15px;
    text-transform: $transformacion-fuente;     
    color: #24303c;
    justify-self: center;
    transform: translateY(-2px)  translatex(5px) ;
    
    }
    
    &__precio{
    
        grid-area: c5;
        font-size: $fuente-precios;
        font-size: 30px;
        font-family:  $fuente-principal;
        color: $color-primario;
        font-weight: $estilo-fuente;
        justify-self: start;
        transform: translateY(5px)  translatex(15px)   ;
    }
    
    &__pagar{
    
        grid-area: c4;
        height: 40px;
        width: 95px;
        font-family:  $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;;
        color: white;
        border-radius: 8px;
        margin-left: 50%;
        transform: translateY(5px) translatex(-25px) ;
    }



}


