
.footer1{

    width: 100%;
    height: 80px;
    background-color: $color-primario;
    display: grid;
    grid-template-columns: 35% 16% 16% 16% 15% ; 
    align-items: center;
    justify-content:center ;
    bottom: 0px;

    &__imagen{

        width: 110px;
        height: 80px;
        margin-left: 40px;
    }

    &__redes{

        text-decoration: none;
        text-transform: $transformacion-fuente;
        text-align: center;
        font-family: $fuente-principal;
        color: black;
        font-size: 18px; 
        font-weight: $estilo-fuente;
    }
}

