.formulario{

    width: 400px; 
    padding: 30px;
    margin: auto;
    margin-bottom: 10%;
    background-color: #24303c;
    border-radius: 8px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    margin-top: 100px;
}

/* TITULO FORMULARIO  */


.formulario__titulo{

    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center; 
    color: white;
}

/* CAMPOS DEL FORMULARIO  */

.formulario__campos{

    
    width: 100%;
    background: #24303c;
    color: white;
    padding: 10px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    border-bottom: 20px;
    border-radius: 10px;
    border: 3px solid rgb(31, 3, 184);
    text-transform: uppercase;
    margin: 10px;
}

/* BOTON REGISTRO FORMULARIO  */

.formulario__boton{

    display: block;
    width: 50%;
    margin: 15px;
    height: 30px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

}

.formulario__texto{

    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;

}  