/* body y section principal pagina  */

.buscados{

    font-family: $fuente-principal;
    color: $color-primario;
    text-transform: $transformacion-fuente;
    font-size: 40px;
    border: 2px solid $color-primario;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto ;
    color: $color-primario;
    margin-top: 20px;
    border-radius: 8px;
}

.articulos{

    margin: 20px;
    width: 95%;
    height: 280px;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 10% 11% 11% 11% 11% ;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-areas: " ele1 ele1 ele2 ele6 ele6 ele7 ele11 ele11 ele12"
                        " ele1 ele1 ele2  ele6 ele6 ele7 ele11 ele11 ele12"
                        " ele3 ele4 ele5  ele8 ele9 ele10 ele13 ele14 ele15";
    border: #b4c0cd solid 0.5px;
    align-items: center;
    justify-items: center;

    
    .textos{

        font-family: $fuente-principal;
        color: $color-primario;
        justify-self: center;

    }
    
    &__texto1{
        
        @extend.textos;
        grid-area: ele2;
        font-size: 18px;
    
        
    }

    &__texto2{
        grid-area: ele7;
        @extend.textos;
        font-size: 18px;
    }
    
    &__texto3{
    
        grid-area: ele12 ;
        @extend.textos;
        font-size: 18px;

    }

    .texto1__titulo{

        @extend.textos;
        grid-area: ele2;
        font-size: 18px;


    }

    .texto2__titulo{

        grid-area: ele7;
        @extend.textos;
        font-size: 18px;


    }

    .texto1__detalle{

        @extend.textos;
        grid-area: ele2;
        font-size: 15px;

    }

    .texto2__detalle{

        @extend.textos;
        grid-area: ele7;
        font-size: 15px;

    }

    .texto3__detalle{

        @extend.textos;
        grid-area: ele12;
        font-size: 15px;

    }

    
    
    

    .cantidad{

        font-family: $fuente-principal;
        font-size: 12px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        height: 40px;
        width: 60px;
        border-radius: 5px;
        transform: translateX(15px);

    }
    
    &__cantidad1{
    
        grid-area: ele4;
        @extend.cantidad;
    }

    &__cantidad2{
    
        grid-area: ele9 ;
        @extend.cantidad;
    
    }
    
    &__cantidad3{
    
        grid-area: ele14 ;
        @extend.cantidad;
        transform: translatex(-10px);
    }
    

    .precio{
        font-size: $fuente-precios;
        font-family: $fuente-principal;
        color: $color-primario;
        font-weight: $estilo-fuente;
    }
    
    &__precios1{
    
        grid-area: ele5;
        @extend.precio;
    }

    &__precios2{
    
        grid-area: ele10;
        @extend.precio;
    }
    
    &__precios3{
    
        grid-area: ele15;
        @extend.precio;
    }

    @mixin tall ($heigth, $width, $margin  ) {

        height: $heigth;
        width: $width;
        margin: $margin;
    }


    &__imagen1{

        grid-area: ele1;
        @include tall(50%, 200px, 10px);
        transition: transform 2s;
        overflow: hidden;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        align-items: center;
    }

    &__contenedor1{

        grid-area: ele1;
    }
    
    &__imagen2{
    
        grid-area: ele6;
        @include tall(50%, 180px, 10px);
        transition: transform 2s;
        overflow: hidden;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        align-items: center;
    
    }

    &__contenedor2{

        grid-area: ele6;
    }
    
    &__imagen3{
        
        grid-area: ele11;
        @include tall(50%, 180px, 10px);
        transition: transform 2s;
        overflow: hidden;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        align-items: center;
    }

    &__contenedor3{

        grid-area: ele11;
    }
    
    &__comprar1{
    
        grid-area: ele3;
        
        @include tall(40px, 95px, 0);
        margin-left: 25px;
        font-family: $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        border-radius: 10px;
        transform: translateX(25px);
    
    }
    
    &__comprar2{
    
        grid-area: ele8 ;
        @include tall(40px, 95px, 0);
        margin-left: 25px;
        font-family: $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        border-radius: 10px;
        transform: translateX(25px);
    
    }
    
    &__comprar3{
     
        grid-area: ele13 ;
        @include tall(40px, 95px, 0);
        margin-left: 25px;
        font-family: $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        border-radius: 10px;
        transform: translateX(25px);
    
    }
    

    

}

//* ANIMACIONES */

.articulos__imagen1:hover{
    
    transform: scalex(1.5) scaleY(1.1);
}

.articulos__imagen2:hover{

    transform: scalex(1.6) scaleY(1.2);

}

.articulos__imagen3:hover{

    transform: scalex(1.6) scaleY(1.2);
}

