


/* responsive mobile  */

@media screen and (max-width: 650px){


    .buscados {
        font-family: "Bungee Shade", cursiva "Orbitron", sans-serif;
        color: #24303c;
        text-transform: uppercase;
        font-size: 25px;
        border: 2px solid #24303c;
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        color: #24303c;
        margin-top: 20px;
        border-radius: 8px;
      }
      
      .articulos {
        margin: 20px;
    width: 96%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 90px 90px 90px 90px 90px ;
    grid-template-areas:"ele1 ele1 ele2 "
                        "ele1 ele1 ele2 " 
                        "ele3 ele4 ele5"
                        "ele6 ele6 ele7" 
                        "ele6 ele6 ele7"    
                        "ele8 ele9 ele10"
                        "ele11 ele11 ele12"
                        "ele11 ele11 ele12" 
                        "ele13 ele14 ele15";
    border: #b4c0cd solid 0.5px;
    align-items: center;
    justify-items: center;
      }
      
      .articulos .textos, .articulos .articulos__texto1, .articulos .articulos__texto2, .articulos .articulos__texto3, .articulos .texto1__titulo, .articulos .texto2__titulo, .articulos .texto1__detalle, .articulos .texto2__detalle, .articulos .texto3__detalle {
        font-family: "Bungee Shade", cursiva "Orbitron", sans-serif;
        color: #24303c;
        justify-self: center;
      }
      
      .articulos__texto1 {
        grid-area: ele2;
        font-size: 18px;

      }
      
      .articulos__texto2 {
        grid-area: ele7;
        font-size: 18px;
        
      }
      
      .articulos__texto3 {
        grid-area: ele12;
        font-size: 18px;
      }
      
      .articulos .texto1__titulo {
        grid-area: ele2;
        font-size: 18px;
      }
      
      .articulos .texto2__titulo {
        grid-area: ele7;
        font-size: 18px;
      
      }
      
      .articulos .texto1__detalle {
        grid-area: ele2;
        font-size: 15px;
      }
      
      .articulos .texto2__detalle {
        grid-area: ele7;
        font-size: 15px;
        

      }
      
      .articulos .texto3__detalle {
        grid-area: ele12;
        font-size: 15px;
      }
      
      .articulos .cantidad, .articulos .articulos__cantidad1, .articulos .articulos__cantidad2, .articulos .articulos__cantidad3 {
        font-family: "Bungee Shade", cursiva "Orbitron", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        height: 38px;
        width: 60px;
        border-radius: 5px;
        transform: translateX(15px) translateY(-5px);
        
      }
      
      .articulos__cantidad1 {
        grid-area: ele4;
        
      }
      
      .articulos__cantidad2 {
        grid-area: ele9;
    
      }
      
      .articulos__cantidad3 {
        grid-area: ele14;
      

      }
      
      .articulos .precio, .articulos .articulos__precios1, .articulos .articulos__precios2, .articulos .articulos__precios3 {
        font-size: 25px;
        font-family: "Bungee Shade", cursiva "Orbitron", sans-serif;
        color: #24303c;
        font-weight: bolder;
      }
      
      .articulos__precios1 {
        grid-area: ele5;
      }
      
      .articulos__precios2 {
        grid-area: ele10;
        
      }
      
      .articulos__precios3 {
        grid-area: ele15;
      }
      
      .articulos__imagen1 {
        grid-area: ele1;
        height: 50%;
        width: 200px;
        margin: 10px;
        transition: transform 2s;
        overflow: hidden;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        align-items: center;
        
      }
      
      .articulos__contenedor1 {
        grid-area: ele1;
      }
      
      .articulos__imagen2 {
        grid-area: ele6;
        height: 50%;
        width: 180px;
        margin: 10px;
        transition: transform 2s;
        overflow: hidden;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        align-items: center;
      
      }
      
      .articulos__contenedor2 {
        grid-area: ele6;
      
      }
      
      .articulos__imagen3 {
        
        display: none;
        grid-area: ele11;
        height: 50%;
        width: 180px;
        margin: 10px;
        transition: transform 2s;
        overflow: hidden;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        align-items: center;
      }
      
      .articulos__contenedor3 {
        grid-area: ele11;

      }
      
      .articulos__comprar1 {
        grid-area: ele3;
        height: 40px;
        width: 95px;
        margin: 0;
        margin-left: 25px;
        font-family: "Bungee Shade", cursiva "Orbitron", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        transform: translateX(25px) translateY(-3px);
        margin-bottom: 10px;
      }
      
      .articulos__comprar2 {
        grid-area: ele8;
        height: 40px;
        width: 95px;
        margin: 0;
        margin-left: 25px;
        font-family: "Bungee Shade", cursiva "Orbitron", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        transform: translateX(25px) translateY(-5px);
      
      }
      
      .articulos__comprar3 {
        display: none;
        grid-area: ele13;
        height: 40px;
        width: 95px;
        margin: 0;
        margin-left: 25px;
        font-family: "Bungee Shade", cursiva "Orbitron", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        transform: translateX(25px) translateY(-5px);
      }
      
      .articulos__imagen1:hover {
        transform: scalex(1.3) scaleY(1.1);
      }
      
      .articulos__imagen2:hover {
        transform: scalex(1.3) scaleY(1.2);
        
      }
      
      .articulos__imagen3:hover {
        transform: scalex(1.3) scaleY(1.2);
      }


      /*  RESPONSIVE FOOTER 650 PX  */

    .footer1{

        width: 100%;
        height: 70px;
        background-color: $color-primario;
        display: grid;
        grid-template-columns: 35% 16% 16% 16% 15% ; 
        align-items: center;
        justify-content:center ;
    
    }
    
    .footer1__imagen{
        
        display: none;
        width: 120px;
        height: 50px;
        margin-left: 40px;
    }
    
    .footer1__redes{
    
        text-decoration: none;
        text-transform: $transformacion-fuente;
        text-align: center;
        font-family: $fuente-principal;
        color: black;
        font-size: 10px;
        margin-bottom: 0;
        font-weight: $estilo-fuente;
        
    }



    /*  RESPONSIVE PAGINA COMPRAS 650px  */
    .titulo{


        font-family: $fuente-principal;
        color: $color-primario;
        text-transform: $transformacion-fuente;
        font-size: 25px;
        border: 4px solid $color-primario;
        border-radius: 15px;
        text-align: center; 
        width: 55%;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 5%;
    }


    .compra{

    width: 85%;
    height: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 25% 25% 35% ;

    grid-template-rows: 75px 75px 75px 75px 75px;

    grid-template-areas:"c1 c1 c2"
                        "c1 c1 c3"
                        "c1 c1 c3"
                        "c1 c1 c3"
                        "c4 c5 c5";

    border: #b4c0cd solid 4px;
    border-radius: 10px;
    justify-content: space-evenly;
    }

    .compra__imagen{

        
    grid-area: c1;
    width: 95%;
    height: 85%;
    }  

    .compra__producto{

        grid-area: c2;
        margin-top: auto;
        margin-bottom: auto;
        font-family: $fuente-principal;
        font-size: 20px;
        text-transform: $transformacion-fuente;
        color: rgb(0, 151, 13);
        justify-self: center;
        transform: translatex(-10px);

        }

    .compra__detalle{

    grid-area: c3;
        
    font-family: $fuente-principal;
    font-size: 14px;
    text-transform: $transformacion-fuente;
    color: $color-primario;
    justify-self: center;
    transform: translatex(-8px);
    
    }

    .compra__precio{

        grid-area: c5;

        font-size: 30px;
        font-family: $fuente-principal;
        color: $color-primario;
        justify-self: center;
        transform: translatey(-10px) translatex(30px);
    }

    .compra__pagar{

        grid-area: c4;

        height: 45px;
        width: 100px;
        font-family: $fuente-principal;
        font-size: 17px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        border-radius: 10px;
        transform: translatey(-10px);

    }

    /* responsive pagina promociones 950px */

    .promocion{


      font-family: $fuente-principal;
      color: $color-primario;
      text-transform: $transformacion-fuente;
      font-size: 20px;
      border: 4px solid $color-primario;
      border-radius: 15px;
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto; 
      margin-top: 5%;
      margin-bottom: 30px;
}

.promo{

  width: 95%;
  height: 20%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% ;
  grid-template-rows: 80px 80px 80px 80px 80px;
  grid-template-areas:"c1 c1 c2"
                      "c1 c1 c3"
                      "c1 c1 c3"
                      "c1 c1 c3"
                      "c4 c5 c5";
  border: #b4c0cd solid 4px;
  border-radius: 10px;
  justify-content: space-evenly;
}

.promo__imagen{

  grid-area: c1;
  width: 100%;
  height: 70%;
  margin: 5PX;
  border: 3px solid gray;
  border-radius: 15px;
  border-image-slice: 2px;
  box-shadow:  15px 15px 10px black;
  transform: translatey(40px) translatex(-15px);
}



.promo__contenedor{
  grid-area: c1;
}

.promo__producto{

  grid-area: c2;
  margin-top: auto;
  margin-bottom: auto;
  font-family: $fuente-principal;
  font-size: 18px;
  text-transform: $transformacion-fuente;
  color: rgb(10, 123, 6);
  justify-self: center;
  overflow: hidden;

}

.promo__detalle{

grid-area: c3;  
font-size: 12px;
font-family: $fuente-principal;
text-transform: $transformacion-fuente;
color: $color-primario;
justify-self: center;

}



.promo__precio{

  grid-area: c5;
  font-size: 30px;
  font-family: $fuente-principal;
  color: $color-primario;
  justify-self: start;
  font-weight: $estilo-fuente;
  transform: translateY(25px) translatex(35px);
}

.promo__pagar{

  grid-area: c4;
  height: 40px;
  width: 100px;
  font-family: $fuente-principal;
  font-size: 15px;
  text-transform: $transformacion-fuente;
  text-align: center;
  background-color: $color-primario;
  color: white;
  border-radius: 10px;
  margin-left: 50%;
  transform: translateY(25PX) translatex(-25PX);
}

.promo2{

  width: 95%;
  height: 20%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% ;
  grid-template-rows: 80px 80px 80px 80px 80px;
  grid-template-areas:"c1 c1 c2"
                      "c1 c1 c3"
                      "c1 c1 c3"
                      "c1 c1 c3"
                      "c4 c5 c5";

  border: #b4c0cd solid 4px;
  border-radius: 10px;
  justify-content: space-evenly;

}

$mapa:(
  
  producto: #24303c,
  detalle: #0569cc,
  precio: #26a30c,
  pagar: #f6f8fa,
);

@each $clave, $valor in $mapa {

  .promo__#{$clave}{

      color: $valor;

  }
  
  
}

.vibrate-1 {
-webkit-animation: vibrate-1 0.3s linear infinite both;
animation: vibrate-1 0.3s linear infinite both;
}


@-webkit-keyframes vibrate-1 {
  0% {
  -webkit-transform: translate(0);
          transform: translate(0);
  }
  20% {
  -webkit-transform: translate(-2px, 2px);
          transform: translate(-2px, 2px);
  }
  40% {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
          transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


    /* mediaquery PAGINA PRODUCTOS 650px */

    .titulo__producto{

      font-family: $fuente-principal;
      color: $color-primario;
      text-transform: $transformacion-fuente;
      font-size: 22px;
      border: 4px solid $color-primario;
      border-radius: 18px;
      text-align: center;
      width: 85%;
      margin-left: auto;
      margin-right: auto ;
      color: $color-primario;
      margin-top: 20px;
    }
    .producto{
    
      width: 98%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 85px 85px 85px 85px 85px 85px 85px 85px 85px ;
    grid-template-areas:"p1 p1 p2 p2"
                        "p1 p1 p3 p4 " 
                        "p1 p1 p5 p5"
                        "p6 p6 p7 p7" 
                        "p6 p6 p8 p9"    
                        "p6 p6 p10 p10"
                        "p11 p11 p12 p12"
                        "p11 p11 p13 p14" 
                        "p11 p11 p15 p16";
    border: #b4c0cd solid 0.5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
      
      &__imagen1{
    
          grid-area: p1;
          width: 160px;
          height: 180px;
          border: 3px solid gray;
          border-radius: 15px;
          border-image-slice: 2px;
          box-shadow:  15px 15px 10px #24303c; 
          transform: translateX(-15px); 
      
      }
    
      &__contenedor1{
    
          grid-area: p1;
          justify-items: center;
      }
      
      &__texto1{
      
          grid-area: p2;
      
          font-family: $fuente-principal;
          font-size: 18px;
          text-transform: $transformacion-fuente;
          color: $color-primario;
          transform: translatex(5px) translatey(25px);
  
      
      }
      
      &__cantidad1{
      
          grid-area: p3;
          font-family: $fuente-principal;
          font-size: 16px;
          text-transform: $transformacion-fuente;
          text-align: center;
          background-color: $color-primario;
          color: white;
          height: 30px;   
          width: 55px;
          border-radius: 8px;
          justify-self: center;
          margin-left: 20px;  
          transform: translatex(12px) translatey(45px);
      
      }
      
      &__precio1{
          grid-area: p4;
      
          font-size: $fuente-precios;
          font-size: 22px;
          font-family: $fuente-principal;
          color: $color-primario;
          font-weight: $estilo-fuente;
          transform: translateY(23px) translateX(10px);
      }
      
      &__comprar1{
          grid-area: p5;
          height: 35px;
          width: 100px;
          font-family: $fuente-principal;
          font-size: 15px;
          text-transform: $transformacion-fuente;
          text-align: center;
          background-color: $color-primario;
          color: white;
          border-radius: 10px;
      
      }
      
      /* bloque centro  */
      &__imagen2{
      
          grid-area: p6;
          width: 160px;
          height: 180px;
          margin: 5px;
          border: 3px solid gray;
          border-radius: 15px;
          border-image-slice: 2px;
          box-shadow:  15px 15px 10px #24303c; 
          transform: translateX(-15px); 
      
    
    
    
      }
    
      &__contenedor2{
    
          grid-area: p6;
      }
      
      &__texto2{
      
          grid-area: p7;
      
          font-family: $fuente-principal;
          font-size: 20px;
          text-transform: $transformacion-fuente;
          color: $color-primario;
          transform: translatex(5px) translatey(25px);
          
      
      }
      
      &__cantidad2{
          grid-area: p8;
      
          font-family: $fuente-principal;
          font-size: 18px;
          text-transform: $transformacion-fuente;
          text-align: center;
          background-color: $color-primario;
          color: white;
          height: 30px;   
          width: 55px;
          border-radius: 8px;
          transform: translatex(12px) translatey(45px);
    
      
      }
      
      &__precio2{
          grid-area: p9;
      
          font-size:$fuente-precios;
          font-size: 22px;
          font-family: $fuente-principal;
          color: $color-primario;
          font-weight: $estilo-fuente;
          transform: translateY(23px) translateX(10px);
    
      }
      
      &__comprar2{
          grid-area: p10;
      
          height: 35px;
          width: 100px;
          font-family: $fuente-principal;
          font-size: 15px;
          text-transform: $transformacion-fuente;
          text-align: center;
          background-color: $color-primario;
          color: white;
          border-radius: 10px;
          
    
      
      }
      
      /* bloque izquierda */
      
      &__imagen3{
      
          grid-area: p11;
          width: 160px;
          height: 180px;
          margin: 5px;
          border: 3px solid gray;
          border-radius: 15px;
          border-image-slice: 2px;
          box-shadow:  15px 15px 10px #24303c;  
          transform: translateX(-15px); 
      
      }
    
      &__contenedor3{
    
          grid-area: p11;
      }
      
      &__texto3{
      
          grid-area: p12;
          font-family: $fuente-principal;
          font-size: 18px;
          text-transform: $transformacion-fuente;
          color: $color-primario;
          transform: translatex(5px) translatey(25px);
    
      }
      
      &__cantidad3{
          grid-area: p13;
      
          font-family: $fuente-principal;
          font-size: 18px;
          text-transform: $transformacion-fuente;
          text-align: center;
          background-color: $color-primario;
          color: white;
          height: 30px;   
          width: 55px;
          border-radius: 8px;
          justify-self: center;
          transform: translatex(12px) translatey(45px);
      
      }
      
      &__precio3{
          grid-area: p14;
      
          font-size: $fuente-precios;
          font-size: 22px;
          font-family: $fuente-principal;
          font-weight: $estilo-fuente;
          justify-self: start;
          transform: translateY(23px) translateX(10px);
      }
      
      &__comprar3{
        
          grid-area: p15;
          height: 35px;
          width: 100px;
          font-family: $fuente-principal;
          font-size: 15px;
          text-transform: $transformacion-fuente;
          text-align: center;
          background-color: $color-primario;
          color: white;
          border-radius: 10px;
          transform: translateX(20px);
      }

      &__compras3{
        
        grid-area: p15;
        height: 35px;
        width: 100px;
        font-family: $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        transform: translateX(20px);
    }

  
    }

     /* RESPONSIVE FORMULARIO REGISTRO 650PX  */
    .formulario{

      width: 320px; 
      padding: 30px;
      margin: auto;
      margin-bottom: 10%;
      background-color: $color-primario;
      border-radius: 8px;
      font-family: $fuente-principal;
      margin-top: 100px;
      border-image-slice: 2px;
      box-shadow:  15px 15px 10px #232b32;
  
      
      &__titulo{
  
          margin-top: 5%;
          margin-bottom: 5%;
          font-size: 15px;
          text-align: center; 
          color: white;
      }
  
      &__campos{
  
          width: 100%;
          background: #24303c;
          color: white;
          padding: 10px;
          font-family: $fuente-principal;
          border-bottom: 20px;
          border-radius: 10px;
          border: 3px solid rgb(31, 3, 184);
          text-transform: $transformacion-fuente;
          margin: 10px;
      }
  
      &__boton{
  
      display: block;
      width: 50%;
      margin: 15px;
      height: 30px;
      border-radius: 4px;
      font-size: 15px;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
  
      }
  
      &__texto{
  
          text-decoration: none;
          color: white;
          margin: 10px;
          text-align: center;
          text-decoration: none;
          font-family: $fuente-principal;
  
      }  
  }
  
  
    

    


    

}

