@media screen and (max-width: 650px){



    .buscados{

        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;
        text-transform: uppercase;
        font-size: 20px;
        border: 2px solid #24303c;
        text-align: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto ;
        font-weight: bolder;
    
    }

    .articulos{

        margin: 20px;
        width: 96%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
        grid-template-areas:"ele1 ele1 ele2 "
                            "ele1 ele1 ele2 " 
                            "ele3 ele4 ele5"
                            "ele6 ele6 ele7" 
                            "ele6 ele6 ele7"    
                            "ele8 ele9 ele10"
                            "ele11 ele11 ele12"
                            "ele11 ele11 ele12" 
                            "ele13 ele14 ele15";
        border: #b4c0cd solid 0.5px;

        justify-items: center;
    }

    .articulos__imagen1{
    
        grid-area: ele1;
        height: 90%;
        width: 220px;
        transform: scaleX(0.9);
        transition: transform 2s;
    }

    .articulos__imagen1:hover{

        transform: scale(1.1);
    }
    
    .articulos__texto1{
    
        grid-area: ele2;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        color: #24303c;
        justify-self: center;
        transform: translateX(-5px);
    }
    
    .articulos__comprar1{
    
        grid-area: ele3;
        margin-left: 25px;
        height: 40px;
        width: 75px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        transform: translateY(-10px);
        transition: transform 2s;
    }

    .articulos__comprar1:hover{

        transform: scale(1.3);
    }
    
    .articulos__cantidad1{
    
        grid-area: ele4;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        height: 40px;
        width: 55px;
        border-radius: 8px;
        transform: translateY(-10px);
    }
    
    .articulos__precios1{
    
        grid-area: ele5;
        font-size: 22px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;
        font-weight: bolder;
        transform: translatex(-20px);
    
    }
    
    .articulos__imagen2{
    
        grid-area: ele6;
        height: 90%;
        width: 220px;
        transition: transform 1s;
        overflow: hidden;
    }

    .articulos__comprar2:hover{

        transform: scale(1.05);
    }
    
    
    .articulos__imagen3{
        
        grid-area: ele11;
        height: 90%;
        width: 220px;
        transition: transform 2s;
        overflow: hidden;
    }

    .articulos__comprar3:hover{

        transform: scale(1.05);
    }
    
    
    .articulos__texto2{
    
        grid-area: ele7;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        color: #24303c;
        transform: translateX(-5px);
    }
    
    .articulos__texto3{
    
        grid-area: ele12 ;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        color: #24303c;
        transform: translateX(-5px);
    }
    .articulos__comprar2{
    
        grid-area: ele8 ;
        grid-area: ele3;
        margin-left: 25px;
        height: 40px;
        width: 75px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        transform: translateY(-5px);
        transition: transform 1s;
        
    }

    .articulos__comprar3:hover{

        transform: scale(1.3);
    }
    
    .articulos__comprar3{
    
        grid-area: ele13 ;
        grid-area: ele3;
        margin-left: 25px;
        height: 40px;
        width: 75px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        transform: translateY(-5px);
        transition: transform 1s;
    
    }

    .articulos__comprar3:hover{

        transform: scale(1.1);
    }
    .articulos__cantidad2{
    
        grid-area: ele9 ;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        height: 40px;
        width: 55px;
        border-radius: 8px;
        transform: translateY(-5px);
    
    }
    
    .articulos__cantidad3{
    
        grid-area: ele14 ;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        height: 40px;
        width: 55px;
        border-radius: 8px;
        transform: translateY(-5px);
    }
    
    .articulos__precios2{
    
        grid-area: ele10;
        font-size: 20px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;
        font-weight: bolder;
        transform: translatex(-20px);
    }
    
    .articulos__precios3{
    
        grid-area: ele15;
        font-size: 20px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;;
        color: #24303c;
        font-weight: bolder;
        transform: translatex(-20px);
    }

    // mediaquery footer 650px

    .footer1{

        width: 100%;
        height: 50px;
        background-color: #24303c;
        display: grid;
        grid-template-columns: 35% 16% 16% 16% 15% ; 
        align-items: center;
        justify-content:center ;
    
    }
    
    .footer1__imagen{
        
        display: none;
        width: 120px;
        height: 50px;
        margin-left: 40px;
    }
    
    .footer1__redes{
    
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: black;
        font-size: 8px;
        margin-bottom: 0;
        
    }

        //compras mediaquery 650px
        
    .titulo{


        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;
        text-transform: uppercase;
        font-size: 15px;
        border: 2px solid #24303c;
        border-radius: 15px;
        text-align: center; 
        width: 50%;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 5%;
        font-weight: bolder;
    }

    .comprar{

    width: 65%;
    height: 35%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 50%;
    display: grid;
    grid-template-columns: 25% 25% 25% ;

    grid-template-rows: 55px 55px 55px 55px 55px;

    grid-template-areas:"c1 c1 c2"
                        "c1 c1 c3"
                        "c1 c1 c3"
                        "c1 c1 c3"
                        "c4 c5 c5";

    border: #b4c0cd solid 4px;
    border-radius: 10px;
    justify-content: space-evenly;
    }

    .compra__imagen{
    grid-area: c1;
    width: 100%;
    height: 90%;
    overflow: hidden;
    transform: translateX(-10px);
    transform:translateY(-10);
    transition: transform 1s ;
}  

    .compra__imagen :hover{
        transform: scaleY(1.1);
}

    .compra__producto{

        grid-area: c2;
        margin-top: auto;
        margin-bottom: auto;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        color: rgb(248, 15, 15);
        justify-self: center;

    }

    .compra__detalle{
    grid-area: c3;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #24303c;
    justify-self: center;
    transform:translateY(-5px) ;

}

    .compra__precio{
        grid-area: c5;
        font-size: 18px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;
        justify-self: center;
        font-weight: bolder;
        transform: translatex(25px);
    
}

    .compra__pagar{
        grid-area: c4;
        height: 38px;
        width: 80px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateY(-10px);
        transform: translatex(-10px);
        transition: transform 2s;
}

    .compra__pagar:hover{

        transform: scale(1.2);
    }

    /* PAGINA REGISTRO */

.formulario{

    width: 300px; 
    padding: 20px; 
    margin: auto;
    margin-bottom: 10%;
    background-color: #24303c;
    border-radius: 8px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    margin-top: 100px;
}

/* TITULO FORMULARIO  */


.formulario__titulo{

    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 15px;
    text-align: center; 
    color: white;
}

/* CAMPOS DEL FORMULARIO  */

.formulario__campos{

    
    width: 100%;
    background: #24303c;
    color: white;
    padding: 8px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    border-bottom: 20px;
    border-radius: 10px;
    border: 3px solid rgb(31, 3, 184);
    text-transform: uppercase;
    margin: 5px;
}

/* BOTON REGISTRO FORMULARIO  */

.formulario__boton{

    display: block;
    width: 50%;
    margin: 15px;
    height: 30px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

}

.formulario__texto{

    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;

} 

    // responsive promocion 650px

    .promocion {

        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;
        text-transform: uppercase;
        font-size: 20px;
        border: 4px solid #24303c;
        border-radius: 15px;
        text-align: center;
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 10px;
    }

    .promo {

        width: 95%;
        height: 30%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 80px 80px 80px 80px 80px;
        grid-template-areas: "c1 c1 c2"
                            "c1 c1 c3"
                            "c1 c1 c3"
                            "c1 c1 c3"
                            "c4 c5 c5";
        border: #b4c0cd solid 4px;
        border-radius: 10px;
        justify-content: space-evenly;
    }

    .promo2 {

        width: 95%;
        height: 30%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 80px 80px 80px 80px 80px;
        grid-template-areas: "c1 c1 c2"
                            "c1 c1 c3"
                            "c1 c1 c3"
                            "c1 c1 c3"
                            "c4 c5 c5";
        border: #b4c0cd solid 4px;
        border-radius: 10px;
        justify-content: space-evenly;
    }

    .promo__imagen {

        grid-area: c1;
        width: 90%;
        height: 80%;
        margin: 5PX;
        transform: translateY(20px);
    }

    .promo__producto {

        grid-area: c2;
        margin-top: auto;
        margin-bottom: auto;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #0a7b06;
        justify-self: center;
    }

        .promo__detalle {

        grid-area: c3;
        font-size: 13px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        text-transform: uppercase;
        color: #24303c;
        justify-self: center;
    }

    .promo__precio {

        grid-area: c5;
        font-size: 25px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;
        justify-self: start;
        transform: translateX(85PX);
    }
    .promo__pagar {

        grid-area: c4;
        width: 90px;
        height: 40px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateY(-3px);
    }

     /* mediaquery PAGINA PRODUCTOS 650px */

 /* mediaquery PAGINA PRODUCTOS 1024px */

 .producto{

    width: 95%;
    height: 85%;
    display: grid;
    grid-template-columns: 35% 35% 20% ;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-areas:"ele1 ele1 ele3 "
                        "ele1 ele1 ele4 " 
                        "ele2 ele2 ele5"
                        "ele6 ele6 ele8" 
                        "ele6 ele6 ele9"    
                        "ele7 ele7 ele10"
                        "ele11 ele11 ele13"
                        "ele11 ele11 ele14" 
                        "ele12 ele12 ele15";
    border: #b4c0cd solid 0.5px;
    justify-content: center;
    align-items: center;
}

.producto__imagen1{

    grid-area: ele1;

    height: 100%;
    width: 90%;
}

.producto__texto1{

    grid-area: ele2;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #24303c;
    justify-self: center;

}

    .producto__cantidad1{

        grid-area: ele3;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        height: 35px;
        width: 60px;
        border-radius: 8px;
        justify-self: center;   
        transform: translatey(35px);

    }

    .producto__precio1{
        grid-area: ele4;
        font-size: 22px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        color: #24303c;

    }

    .producto__comprar1{

        grid-area: ele5;
        height: 35px;
        width: 90px;
        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        border-radius: 10px;

    }

    /* bloque centro  */
    .producto__imagen2{

    grid-area: ele6;
    height: 100%;
    width: 90%;
    }

    .producto__texto2{

        grid-area: ele7;

        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 17px;
        font-weight: bolder;
        text-transform: uppercase;
        color: #24303c;
        justify-self: center;

    }

    .producto__cantidad2{
        grid-area: ele8;

        font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        background-color: #24303c;
        color: white;
        height: 35px;
        width: 60px;
        border-radius: 8px;
        justify-self: center;
        transform: translatey(35px);
    }

.producto__precio2{
    grid-area: ele9;

    font-size: 22px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    color: #24303c;
    
}

.producto__comprar2{
    grid-area: ele10;

    height: 35px;
    width: 90px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    border-radius: 10px;
    justify-self: center;

}

/* bloque izquierda */

.producto__imagen3{

    grid-area: ele11;

    height: 100%;
    width: 90%;

}

.producto__texto3{

    grid-area: ele12;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #24303c;
    justify-self: center;
}

.producto__cantidad3{
    grid-area: ele13;

    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    height: 35px;
    width: 60px;
    border-radius: 8px;
    transform: translatey(35px);
}

.producto__precio3{
    grid-area: ele14;

    font-size: 22px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
}

.producto__comprar3{
    grid-area: ele15;
    height: 35px;
    width: 90px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    border-radius: 10px;
    justify-self: center;

}

}
    
