/* PAGINA PRODUCTOS */

.titulo__producto{

    font-family: $fuente-principal;
    color: $color-primario;
    text-transform: $transformacion-fuente;
    font-size: 40px;
    border: 4px solid $color-primario;
    border-radius: 18px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto ;
    color: $color-primario;
    margin-top: 20px;
}
.producto{

    width: 95%;
    height: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16% ;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px;
    grid-template-areas:    "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele2 ele2 ele8 ele8 ele13 ele13"
                            "ele3 ele4 ele9 ele10 ele14 ele15"
                            "ele5 ele5 ele11 ele11 ele16 ele16";
    border: #b4c0cd solid 0.5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
    &__imagen1{

        grid-area: ele1;
        width: 45%;
        height: 40%;
        margin: 5px;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        box-shadow:  15px 15px 10px #24303c;  
        transform: translateX(80px) scalex(1.4);
    
    }

    &__contenedor1{

        grid-area: ele1;
        justify-items: center;
    }
    
    &__texto1{
    
        grid-area: ele2;
    
        font-family: $fuente-principal;
        font-size: 20px;
        text-transform: $transformacion-fuente;
        color: $color-primario;
        margin: 5px;
        transform: translateX(-15px);
    
    }
    
    &__cantidad1{
    
        grid-area: ele3;
        font-family: $fuente-principal;
        font-size: 18px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        height: 35px;   
        width: 60px;
        border-radius: 8px;
        justify-self: center;
        margin-left: 20px;
    
    }
    
    &__precio1{
        grid-area: ele4;
    
        font-size: $fuente-precios;
        font-family: $fuente-principal;
        color: $color-primario;
        font-weight: $estilo-fuente;
    }
    
    &__comprar1{
        grid-area: ele5;
        height: 40px;
        width: 100px;
        font-family: $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        border-radius: 10px;
    
    }
    
    /* bloque centro  */
    &__imagen2{
    
        grid-area: ele7;
        width: 45%;
        height: 40%;
        margin: 5px;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        box-shadow:  15px 15px 10px #24303c;  
        transform: translateX(80px) scalex(1.4);


    }

    &__contenedor2{

        grid-area: ele7;
    }
    
    &__texto2{
    
        grid-area: ele8;
    
        font-family: $fuente-principal;
        font-size: 20px;
        margin: 5px;
        text-transform: $transformacion-fuente;
        color: $color-primario;
        transform: translateX(-15px);
    
    }
    
    &__cantidad2{
        grid-area: ele9;
    
        font-family: $fuente-principal;
        font-size: 18px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        height: 35px;
        width: 60px;
        border-radius: 8px;
        margin-left: 20px;  

    
    }
    
    &__precio2{
        grid-area: ele10;
    
        font-size:$fuente-precios;
        font-family: $fuente-principal;
        color: $color-primario;
        font-weight: $estilo-fuente;

    }
    
    &__comprar2{
        grid-area: ele11;
    
        height: 40px;
        width: 100px;
        font-family: $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        border-radius: 10px;

    
    }
    
    /* bloque izquierda */
    
    &__imagen3{
    
        grid-area: ele12;
        width: 45%;
        height: 40%;
        margin: 5px;
        border: 3px solid gray;
        border-radius: 15px;
        border-image-slice: 2px;
        box-shadow:  15px 15px 10px #24303c;  
        transform: translateX(80px) scalex(1.4);

    
    }

    &__contenedor3{

        grid-area: ele12;
    }
    
    &__texto3{
    
        grid-area: ele13;
        font-family: $fuente-principal;
        font-size: 20px;
        text-transform: $transformacion-fuente;
        color: $color-primario;
        transform: translateX(-15px);
        margin: 5px;
    
        
    
    }
    
    &__cantidad3{
        grid-area: ele14;
    
        font-family: $fuente-principal;
        font-size: 18px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        height: 35px;
        width: 60px;
        border-radius: 8px;
        justify-self: center;
        margin-left: 20px; 
    
    }
    
    &__precio3{
        grid-area: ele15;
    
        font-size: $fuente-precios;
        font-family: $fuente-principal;
        font-weight: $estilo-fuente;
        justify-self: start;
    }
    
    &__comprar3{
        grid-area: ele16;
        height: 40px;
        width: 100px;
        font-family: $fuente-principal;
        font-size: 15px;
        text-transform: $transformacion-fuente;
        text-align: center;
        background-color: $color-primario;
        color: white;
        border-radius: 10px;

    
    }
}


