/* PAGINA PRODUCTOS */

.producto{

    width: 95%;
    height: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16% ;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px;
    grid-template-areas:    "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele1 ele1 ele7 ele7 ele12 ele12"
                            "ele2 ele2 ele8 ele8 ele13 ele13"
                            "ele3 ele4 ele9 ele10 ele14 ele15"
                            "ele5 ele5 ele11 ele11 ele16 ele16";
    border: #b4c0cd solid 0.5px;
    justify-content: space-evenly;
    align-items: center;
}

.producto__imagen1{

    grid-area: ele1;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    margin: 5px;
    transform: translatex(20px);

}

.producto__texto1{

    grid-area: ele2;

    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #24303c;
    justify-self: center;
    margin: 5px;

}

.producto__cantidad1{

    grid-area: ele3;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    height: 35px;
    width: 60px;
    border-radius: 8px;
    justify-self: center;
    margin-left: 20px;
    transform: translateX(110px);

}

.producto__precio1{
    grid-area: ele4;

    font-size: 25px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    color: #24303c;
}

.producto__comprar1{
    grid-area: ele5;


    height: 35px;
    width: 90px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    border-radius: 10px;
    justify-self: center;

}

/* bloque centro  */
.producto__imagen2{

    grid-area: ele7;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    margin: 5px;
    transform: translatex(20px);
}

.producto__texto2{

    grid-area: ele8;

    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
    color: #24303c;
    justify-self: center;

}

.producto__cantidad2{
    grid-area: ele9;

    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    height: 35px;
    width: 60px;
    border-radius: 8px;
    justify-self: center;
    margin-left: 20px;  
    transform: translateX(110px);

}

.producto__precio2{
    grid-area: ele10;

    font-size: 25px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    color: #24303c;
    justify-self: start;
}

.producto__comprar2{
    grid-area: ele11;

    height: 35px;
    width: 90px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    border-radius: 10px;
    justify-self: center;

}

/* bloque izquierda */

.producto__imagen3{

    grid-area: ele12;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    margin: 5px;
    transform: translatex(20px)

}

.producto__texto3{

    grid-area: ele13;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #24303c;
    justify-self: center;
    margin: 5px;

    

}

.producto__cantidad3{
    grid-area: ele14;

    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    height: 35px;
    width: 60px;
    border-radius: 8px;
    justify-self: center;
    margin-left: 20px;
    transform: translateX(110px);   

}

.producto__precio3{
    grid-area: ele15;

    font-size: 25px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    justify-self: start;
}

.producto__comprar3{
    grid-area: ele16;
    height: 35px;
    width: 90px;
    font-family: 'Bungee Shade', cursiva 'Orbitron', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #24303c;
    color: white;
    border-radius: 10px;
    justify-self: center;

}
