
/* VARIABLES */

$color-primario: #24303c;

$color-fuente:#24303c;

$fuente-principal:'Bungee Shade', cursiva 'Orbitron', sans-serif;

$fuente-precios: 25px ; 

$estilo-fuente: bolder;

$transformacion-fuente:uppercase;


